#########################################
#########################################
#
# NetAM configuration
#
#########################################
#########################################

#########################################
## Redis
#########################################
# export REDIS_HOST='localhost'
# export REDIS_PORT=6379
# export REDIS_DB=0

#########################################
## Database configuration
#########################################
# export DB_MAX_THREADS=50
# export DB_HOST='localhost'
# export DB_PORT=5432
export DB_USER='{{ netam_db_user }}'
export DB_PASS='{{ netam_db_pass }}'
export DB_NAME='{{ netam_db_name }}'

#########################################
## Puma configuration
#########################################
# export PUMA_MAX_THREADS=5
# export PUMA_MIN_THREADS=1
# export PUMA_PORT=3000

#########################################
## Sidekiq configuration
#########################################
# export SIDEKIQ_MAX_THREADS=5
# export SIDEKIQ_PARALLEL=20

#########################################
## Secret
#########################################
# export OTP_SECRET='ch@ngeMech@ngeMech@ngeMech@ngeMe'
export SECRET_KEY_BASE='ch@ngeMech@ngeMech@ngeMech@ngeMe'

#########################################
## LDAP authentication configuration
#########################################
# export LDAP_HOST='localhost'
# export LDAP_PORT=389
# export LDAP_ENCRYPTION=false
# export LDAP_BASE='dc=example,dc=com'
# export LDAP_UID='uid'
# export LDAP_BIND_USER='cn=admin,dc=example,dc=com'
# export LDAP_BIND_PASSWORD='password'

#########################################
## Sentry configuration
#########################################
# export SENTRY_DSN='https://5fb75d25f91e4265bdb126411b8c28b9:65c52a37f3be4598bfea096fac5c88f6@sentry.app.svk.gs/4'

#########################################
## Notifications
#########################################
## Slack Webhook ##
# export SLACK_WEBHOOK=nil
## Microsoft Teams Webhook ##
# export MSTEAMS_WEBHOOK=nil
## Mails ##
# export MAIL_HOST=nil
# export MAIL_POST=nil
# export MAIL_USER=nil
# export MAIL_PASS=nil
# export MAIL_AUTH_TYPE=nil
# export MAIL_HELO=nil
# export MAIL_SSL_ENABLE=nil
# export MAIL_FROM='NetAM <no-reply@example.loc>'
# export MAIL_TO='netam@example.loc'
